{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-proposal-private-property-in-object",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@src": "./src",
          "@config": "./src/config",
          "@models": "./src/models",
          "@controllers": "./src/controllers",
          "@middlewares": "./src/middlewares",
          "@routes": "./src/routes",
          "@utils": "./src/utils"
        },
        "extensions": [".js", ".mjs", ".ts", ".tsx", ".json"]
      }
    ]
  ]
}
